*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  cursor: pointer;
}

.game-area {
  margin: 1vw auto;
  max-width: 60vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
  background-color: rgb(146, 173, 188);
}

.checkbox_hidden {
  position: absolute;
  left: -9999vw;
}

.container {
  margin: 0 auto;
  padding: 1vw;
  background: rgb(161, 147, 42);
  cursor: grab;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
}

.front-image {
  height: 13vw;
  padding: 0.6vw;
  background: darkslategray;
}
